*{

    list-style: none;
}

.f32 .flag {
    vertical-align: middle;
    margin: -8px 0;
}


.star-1-5 {
    color: #C41D1C;
}

.star-2-5, .star-1-3 {
    color: #E69B36;
}

.star-3-5, .star-2-3 {
    color: #EED942;
}

.star-4-5, .star-3-3 {
    color: #B1CC26;
}

.star-5-5 {
    color: #27DB50;
}
.star-0-5{
    color: rgb(163, 161, 161);
}